<h1>Тут Регистрация</h1>
<div class="register-panel">
    <div class="row">
        <div class="col-md-4 offset-md-4 register">
            <div class="player-king">
                <img src="~/img/Hell.png" />
                <div class="player-reqest">
                    <p>ХЗ ЧТО ТУТ </p>
                    <img src="~/svg/Korona.svg" />
                </div>
            </div>

            <form post="post" asp-controller="Home" asp-action="Register">
                <input placeholder="ХЗ ЧТО ТУТ" name="nikName" autocomplete="off" />
                <button type="submit">ХЗ ЧТО ТУТ</button>
            </form>
        </div>
            </div>
        </div>
